<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Registration</title>

		<!-- CSS -->
		{% load widget_tweaks %}
		{% load staticfiles %}
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		<link rel="stylesheet" href="{% static 'website/assets_register/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'website/assets_register/font-awesome/css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'website/assets_register/css/form-elements.css' %}">
		<link rel="stylesheet" href="{% static 'website/assets_register/css/style.css' %}">

	</head>

	<body style="background-image: url('{% static 'website/assets_register/img/backgrounds/1.jpg' %}');">

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" style="background: url('{% static 'website/images/vem.jpeg' %}') left center no-repeat;" href="index.html"></a>
				</div>

				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<!-- <span class="li-text">
								Put some text or
							</span>
							<a href="#"><strong>links</strong></a>
							<span class="li-text">
								here, or some icons:
							</span> -->
							<span class="li-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-skype"></i></a>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Top content -->
		<div class="top-content">

			<div class="inner-bg" style="">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text">
							<h1><strong>Create</strong> an Account</h1>
						  <!--  <div class="description">
								<p>
									This is a free responsive multi-step registration form made with Bootstrap.
									Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
								</p>
							</div> -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 form-box">

							<form role="form" action="" method="post" class="registration-form">

								<fieldset>
									{% csrf_token %}
									<!-- {{form.as_p}} -->
									<!-- <input type="submit" class="btn" value="Sign me up!"> -->
									<div class="form-top">
										<div class="form-top-left">
											<h3>Step 1 / 3</h3>
											<p>Tell us who you are:</p>
										</div>
										<div class="form-top-right">
											<i class="fa fa-user"></i>
										</div>
									</div>
									<div class="form-bottom">
										<div class="form-group">
											<label class="sr-only" for="form-first-name">username</label>
											{% render_field form.username name="username" placeholder="Username..." class="form-control" id="req-field"%}
										</div>
										<div class="form-group">
											<label class="sr-only" for="form-first-name">First name</label>
											{% render_field form.first_name name="first-name" placeholder="First name..." class="form-control" id="req-field"%}
										</div>
										<div class="form-group">
											<label class="sr-only" for="form-last-name">Last name</label>
											{% render_field form.last_name name="last-name" placeholder="Last name..." class="form-last-name form-control" id="req-field" %}
										</div>	

										<div class="form-group">
											<label class="sr-only" for="form-last-name">State</label>
											{% render_field form.state name="state" placeholder="State..." class="form-last-name form-control" id="req-field" %}
										</div>

										<div class="form-group">
											<label class="sr-only" for="form-last-name">City</label>
											{% render_field form.city name="state" placeholder="City..." class="form-last-name form-control" id="req-field" %}
										</div>

										<button type="button" class="btn btn-next">Next</button>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-top">
										<div class="form-top-left">
											<h3>Step 2 / 3</h3>
											<p>Set up your account:</p>
										</div>
										<div class="form-top-right">
											<i class="fa fa-key"></i>
										</div>
									</div>
									<div class="form-bottom">
										<div class="form-group">
											<label class="sr-only" for="form-email">Email</label>
											{% render_field form.email name="email" placeholder="Email..." class="form-email form-control" id="req-field" %}
										</div>
										<div class="form-group">
											<label class="sr-only" for="form-password">Password</label>
											{% render_field form.password1 name="password" placeholder="Password..." class="form-password form-control" id="req-field"  %}
										</div>
										<div class="form-group">
											<label class="sr-only" for="form-password">Password</label>
											{% render_field form.password2 name="password" placeholder="Password..." class="form-password form-control" id="req-field"  %}
										</div>



										<button type="button" class="btn btn-previous">Previous</button>
										<input type="submit" class="btn" value="Sign me up!">
									</div>
								</fieldset>

								<!-- <fieldset>
									<div class="form-top">
										<div class="form-top-left">
											<h3>Step 3 / 3</h3>
											<p>Social media profiles:</p>
										</div>
										<div class="form-top-right">
											<i class="fa fa-twitter"></i>
										</div>
									</div>
									<div class="form-bottom">
										<div class="form-group">
											<label class="sr-only" for="form-facebook">Facebook</label>
											<input type="text" name="form-facebook" placeholder="Facebook..." class="form-facebook form-control" id="form-facebook">
										</div>
										<div class="form-group">
											<label class="sr-only" for="form-twitter">Twitter</label>
											<input type="text" name="form-twitter" placeholder="Twitter..." class="form-twitter form-control" id="form-twitter">
										</div>
										<div class="form-group">
											<label class="sr-only" for="form-google-plus">Google plus</label>
											<input type="text" name="form-google-plus" placeholder="Google plus..." class="form-google-plus form-control" id="form-google-plus">
										</div>
										<button type="button" class="btn btn-previous">Previous</button>
										<button type="submit" class="btn">Sign me up!</button>
									</div>
								</fieldset> -->

							</form>

						</div>
					</div>
				</div>
			</div>

		</div>


		<script src="{% static 'website/assets_register/js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'website/assets_register/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'website/assets_register/js/jquery.backstretch.min.js' %}"></script>
		<script src="{% static 'website/assets_register/js/retina-1.1.0.min.js' %}"></script>
		<script src="{% static 'website/assets_register/js/scripts.js' %}"></script>

		<!--[if lt IE 10]>
			<script src="assets/js/placeholder.js"></script>
		<![endif]-->

	</body>

</html>
